.headerSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem;
  background-color: #000;
  height:10vh;
  border-bottom: 1px solid #313131;
  &__title {
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: 2px 2px 0px rgba(66, 68, 90, 1);
  }
  &__slogan {
    font-size: 0.685rem;
    font-weight: 600;
  }
}
