@import "./intro.scss";
@import "./time.scss";
@import "./game.scss";
@import "./header.scss";
@import "./headerSmall.scss";


* {
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  height: 100vh;
}
