// main settings animation
.intro {
  span {
    font-size: 50px;
  }

  p {
    font-size: 30px;
  }

  span,
  p {
    opacity: 0;
    animation: text 0.75s ease-in;
    animation-fill-mode: forwards;
  }
  // delays
  span,
  p {
    animation-delay: 0.2s;
  }
}

/* Animation definition */
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
